<nav mat-tab-nav-bar mat-align-tabs="center">
  <a mat-tab-link (click)="go(userListMenu.page)" [active]="activePage === userListMenu.page" fxFlex>
    <mat-icon [svgIcon]="userListMenu.icon" [color]="activePage === userListMenu.page ? 'primary' : ''"
      [matBadge]="count" matBadgeColor="warn" [matBadgeHidden]="count === 0"></mat-icon>
  </a>
  <a mat-tab-link *ngFor="let page of pages" (click)="go(page.page)" [active]="activePage === page.page" fxFlex>
    <mat-icon [svgIcon]="page.icon" [color]="activePage === page.page ? 'primary' : ''"></mat-icon>
  </a>
</nav>