<div fxFill fxLayout="column" [formGroup]="form">
  <div fxFlex fxLayout="column" fxLayoutGap="16px" class="body">
    <app-user-form [form]="form" [data]="data"></app-user-form>
  </div>
  <div class="action" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="16px">
    <div fxFlex fxLayout="column" *ngIf="loading">
      <div class="mat-body gray-color">{{'processing' | translate}}</div>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <button mat-button mat-dialog-close *ngIf="!loading">
      {{'action.back' | translate}}
    </button>
    <button mat-raised-button color="primary" [disabled]="form.invalid || loading" (click)="save()" *ngIf="!loading">
      {{'action.save' | translate}}
    </button>
  </div>
</div>