.support-wrapper {
  background: #fff;
  border-radius: 32px;
  padding: 4px 4px 4px 8px;
}

.action-wrapper button {
  border-radius: 32px;
}

.support-wrapper .icon {
  background: #e3f2fd;
  padding: 8px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.amount {
  color: #1a237e;
}

.body {
  overflow: auto;
}

.wrapper {
  padding: 16px;
}