<div fxFill fxLayout="column">
  <mat-toolbar color="primary" fxLayoutGap="16px">
    <button mat-icon-button mat-dialog-close [disabled]="loading">
      <mat-icon svgIcon="keyboard-backspace"></mat-icon>
    </button>
    <div fxFlex fxLayout="column" fxLayoutAlign="center">
      <div class="mat-title mb-0">{{'userEdit.title' | translate}}</div>
    </div>
  </mat-toolbar>
  <div fxFlex fxLayout="column" class="body">
    <app-user-form [form]="form"></app-user-form>
  </div>
  <div fxLayout="row" fxLayoutAlign="center" class="footer">
    <button mat-raised-button color="primary" [disabled]="form.invalid || loading" (click)="save()" fxFlex>
      {{'action.confirm' | translate}}
    </button>
  </div>
</div>