<div fxFlex *ngIf="user" class="body" fxLayoutGap="16px" fxLayout="column">
  <div fxLayout="row" fxLayoutGap="32px">
    <mat-icon svgIcon="account-outline" class="gray-icon-color"></mat-icon>
    <div fxLayout="column" fxFlex>
      <div fxLayout="column">
        <div fxLayout="row">
          <div fxFlex>
            <div class="mat-caption gray-color">{{'userForm.fullname' | translate}}</div>
            <div class="mat-h3">{{user.name}}</div>
          </div>
          <button mat-icon-button color="primary" (click)="edit()" *ngIf="isAdminOrDoctor || isCoordinator">
            <mat-icon svgIcon="pencil-outline"></mat-icon>
          </button>
        </div>
        <div fxLayout="row">
          <div fxFlex>
            <div class="mat-caption gray-color">{{'userForm.gender' | translate}}</div>
            <div class="mat-h3">{{user.gender | gender | translate}}</div>
          </div>
          <div fxFlex>
            <div class="mat-caption gray-color">{{'userForm.age' | translate}}</div>
            <div class="mat-h3">{{user.age | age}}</div>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex>
            <div class="mat-caption gray-color">{{'userForm.code' | translate}}</div>
            <div class="mat-h3">{{user.code}}</div>
          </div>
          <button mat-icon-button color="primary" (click)="copy()">
            <mat-icon svgIcon="content-copy"></mat-icon>
          </button>
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="32px">
    <mat-icon svgIcon="account-group-outline" class="gray-icon-color"></mat-icon>
    <div fxLayout="column" fxFlex>
      <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
      <ng-container *ngIf="!loading">
        <div fxLayout="row" *ngIf="hasMembers()">
          <div fxFlex>
            <div class="mat-caption gray-color">{{'userInfo.family' | translate}}</div>
            <div class="mb-3">
              <div *ngFor="let item of user.members" fxLayout="row" class="mat-h3 mb-0">{{item.name}}</div>
            </div>
          </div>
          <button mat-icon-button color="primary" (click)="addMember()" [disabled]="loading"
            *ngIf="isAdminOrDoctor || isCoordinator">
            <mat-icon svgIcon="account-plus-outline"></mat-icon>
          </button>
        </div>
        <div fxLayout="row" *ngIf="user.agent">
          <div fxFlex>
            <div class="mat-caption gray-color">{{'userInfo.agent' | translate}}</div>
            <div class="mat-h3">{{user.agent.name}}</div>
          </div>
        </div>
        <div fxLayout="row" *ngIf="!hasMembers() && !user.agent">
          <div fxFlex>
            <div class="mat-caption gray-color">{{'userInfo.family' | translate}}</div>
            <div *ngIf="!hasMembers()" class="mat-h3">{{'userInfo.noMember' | translate}}</div>
          </div>
          <button mat-icon-button color="primary" (click)="addMember()" [disabled]="loading"
            *ngIf="isAdminOrDoctor || isCoordinator">
            <mat-icon svgIcon="account-plus-outline"></mat-icon>
          </button>
        </div>
      </ng-container>
      <mat-divider></mat-divider>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="32px">
    <mat-icon svgIcon="map-marker-outline" class="gray-icon-color"></mat-icon>
    <div fxLayout="column" fxFlex>
      <div fxLayout="column">
        <div>
          <div class="mat-caption gray-color">{{'userForm.address' | translate}}</div>
          <div class="mat-h3">{{user.addressLabel}}</div>
        </div>
        <div>
          <div class="mat-caption gray-color">{{'userForm.phone' | translate}}</div>
          <div class="mat-h3">{{user.phone}}</div>
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="32px">
    <mat-icon svgIcon="badge-account-horizontal-outline" class="gray-icon-color"></mat-icon>
    <div fxLayout="column" fxFlex>
      <div fxLayout="row">
        <div fxFlex>
          <div class="mat-caption gray-color">{{'userForm.doctor' | translate}}</div>
          <div class="mat-h3" *ngIf="!loading">{{user.doctor.name}}</div>
          <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
        </div>
        <button mat-icon-button color="primary" (click)="editDoctor()" [disabled]="loading"
          *ngIf="isAdminOrDoctor || isCoordinator">
          <mat-icon svgIcon="pencil-outline"></mat-icon>
        </button>
      </div>
      <div fxLayout="row">
        <div fxFlex>
          <div class="mat-caption gray-color">{{'userForm.condition' | translate}}</div>
          <div class="mat-h3" *ngIf="!loading">{{user.condition | userCondition | translate}}</div>
          <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
        </div>
        <button mat-icon-button color="primary" (click)="editCondition()" [disabled]="loading" *ngIf="isAdminOrDoctor">
          <mat-icon svgIcon="pencil-outline"></mat-icon>
        </button>
      </div>
      <div class="mb-3" fxLayout="column" fxLayoutAlign=" end">
        <div fxLayout="row">
          <button mat-icon-button color="primary" (click)="showUserNote()" *ngIf="isAdminOrDoctor || isCoordinator">
            <mat-icon svgIcon="history"></mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="addNote()" *ngIf="isAdminOrDoctor">
            <mat-icon svgIcon="text-box-plus-outline"></mat-icon>
          </button>
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="32px">
    <mat-icon svgIcon="hospital-box-outline" class="gray-icon-color"></mat-icon>
    <div fxLayout="column" fxFlex>
      <div fxLayout="column" fxLayoutGap="16px">
        <div fxLayout="row">
          <div fxFlex>
            <div class="mat-caption gray-color">{{'userForm.support' | translate}}</div>
            <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
            <ng-container *ngIf="!loading">
              <ng-container *ngIf="hasSupports()">
                <div *ngFor="let item of user.supports" fxLayout="row">
                  <div class="mat-h3 mb-0" fxFlex>{{item.support.name}}</div>
                  <mat-icon svgIcon="account-question-outline" *ngIf="item.status === 'pending'"
                    class="gray-icon-color">
                  </mat-icon>
                  <mat-icon svgIcon="truck-delivery-outline" *ngIf="item.status === 'delivering'"
                    style="color: #ff9800">
                  </mat-icon>
                  <mat-icon svgIcon="account-check-outline" *ngIf="item.status === 'delivered'" style="color: green">
                  </mat-icon>
                  <mat-icon svgIcon="alert-outline" *ngIf="item.status === 'failed'" color="warn"></mat-icon>
                </div>
              </ng-container>
              <div *ngIf="!hasSupports()" class="mat-h3">{{'userInfo.emptySupport' | translate}}</div>
            </ng-container>
          </div>
          <button mat-icon-button color="primary" (click)="editSupport()" [disabled]="loading"
            *ngIf="isAdminOrDoctor && !hasSupports()">
            <mat-icon svgIcon="pencil-outline"></mat-icon>
          </button>
        </div>
        <div fxLayout="row" fxLayoutAlign="end">
          <button mat-icon-button color="primary" [disabled]="loading" (click)="showSupportStatus()"
            *ngIf="hasSupports()">
            <mat-icon svgIcon="information-outline"></mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="editSupportStatus()" [disabled]="loading"
            *ngIf="isVolunteer && hasSupports()">
            <mat-icon svgIcon="format-list-checks"></mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="editSupport()" [disabled]="loading"
            *ngIf="isAdminOrDoctor && hasSupports()">
            <mat-icon svgIcon="pencil-outline"></mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>