.wrapper {
  overflow: auto;
  background: #fafafa;
}

.doctor-wrapper {
  padding: 16px;
  text-align: center;
}

.doctor-wrapper .mat-icon {
  width: 28px;
  height: 28px;
}

.note-wrapper {
  padding: 16px 0px;
}

.info-wrapper,
.condition-wrapper {
  padding: 16px;
}

.avatar {
  width: 60px;
  border-radius: 50%;
  background: #2196f3;
}