<div fxLayout="column" fxLayoutGap="16px">
  <div *ngFor="let g of groups">
    <div class="group mat-title">{{g.name}}</div>
    <div fxLayout="column" fxLayoutGap="16px">
      <div *ngFor="let item of g.supports">
        <mat-card class="note-wrapper" (click)="select(g, item)" [class.pending]="item.status === 'pending'"
          [class.delivering]="item.status === 'delivering'" [class.delivered]="item.status === 'delivered'"
          [class.failed]="item.status === 'failed'">
          <mat-card-content fxLayoutGap="16px" fxLayout="column">
            <div fxLayout="row">
              <div fxFlex fxLayout="column">
                <div class="mat-caption gray-color">{{item.date | date: 'HH:mm'}}</div>
                <div class="mat-subheading-2 mb-0">{{item.support.name}}</div>
              </div>
              <div fxLayout="column" fxLayoutAlign=" end">
                <div class="mat-caption gray-color" fxFlex>{{'userSupport.amount' | translate}}</div>
                <div class="mat-title mb-0">{{item.amount}}</div>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign=" center">
              <div fxFlex>
                <div class="mat-caption gray-color">{{'userSupport.status' | translate}}</div>
                <div class="mat-subheading-2 mb-0">{{item.status | supportStatus}}</div>
              </div>
              <mat-icon mat-list-icon svgIcon="account-question-outline" class="status-icon"
                *ngIf="item.status === 'pending'" class="gray-icon-color"></mat-icon>
              <mat-icon mat-list-icon svgIcon="account-arrouw-left-outline" class="status-icon"
                *ngIf="item.status === 'accepted'" color="primary"></mat-icon>
              <mat-icon mat-list-icon svgIcon="truck-delivery-outline" class="status-icon"
                *ngIf="item.status === 'delivering'" style="color: #ff9800"></mat-icon>
              <mat-icon mat-list-icon svgIcon="account-check-outline" class="status-icon"
                *ngIf="item.status === 'delivered'" style="color: #4caf50">
              </mat-icon>
              <mat-icon mat-list-icon svgIcon="alert-circle-outline" class="status-icon"
                *ngIf="item.status === 'failed'" color="warn">
              </mat-icon>
            </div>
            <div *ngIf="item.reason">
              <div class="mat-caption gray-color">{{'userSupport.reason' | translate}}</div>
              <div class="mat-body">{{item.reason}}</div>
            </div>
            <div style="position: relative;" *ngIf="item.transporter">
              <mat-divider></mat-divider>
            </div>
            <div *ngIf="item.transporter" fxLayout="column" fxLayoutGap="4px">
              <div fxLayout="row">
                <div class="mat-body" fxFlex>{{'userSupport.volunteer' | translate}}</div>
                <div class="mat-body">{{item.transporter.name}}</div>
              </div>
              <ng-container *ngIf="!item.reason">
                <div fxLayout="row" *ngIf="item.deliveringDate">
                  <div class="mat-body" fxFlex>{{'userSupport.startDate' | translate}}</div>
                  <div class="mat-body">{{item.deliveringDate | date: 'HH:mm'}}&nbsp;</div>
                  <div class="mat-body">{{item.deliveringDate | date: 'dd-MM-YYYY'}}</div>
                </div>
                <div fxLayout="row" *ngIf="item.deliveredDate">
                  <div class="mat-body" fxFlex>{{'userSupport.completeDate' | translate}}</div>
                  <div class="mat-body">{{item.deliveredDate | date: 'HH:mm'}}&nbsp;</div>
                  <div class="mat-body">{{item.deliveredDate | date: 'dd-MM-YYYY'}}</div>
                </div>
              </ng-container>
            </div>
            <ng-container *ngIf="showCollector(item)">
              <div *ngIf="!item.revoke" fxLayout="row" fxLayoutAlign="end center">
                <div class="mat-body">{{'userSupport.revokeOxyTitle' | translate}}</div>
                <button mat-icon-button color="warn" (click)="revoke(g, item); $event.stopPropagation()"
                  [disabled]="loading">
                  <mat-icon svgIcon="database-arrow-left-outline"></mat-icon>
                </button>
              </div>
              <div *ngIf="item.revoke" fxLayout="row" fxLayoutAlign="end center">
                <div class="mat-body">{{'userSupport.revoked' | translate}}</div>
                <mat-icon svgIcon="database-check-outline" style="color: #4caf50; margin-left: 8px"></mat-icon>
              </div>
            </ng-container>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>