.group {
  text-align: center;
  margin-bottom: 4px;
}

.wrapper {
  padding-bottom: 16px;
}

.status-icon {
  width: 2.5em;
  height: 2.5em;
}

.note-wrapper.pending {
  border-left: 4px solid #757575;
}

.note-wrapper.delivering {
  border-left: 4px solid #ff9800;
}

.note-wrapper.delivered {
  border-left: 4px solid #4caf50;
}

.note-wrapper.failed {
  border-left: 4px solid #f44336;
}
