.group {
  text-align: center;
  margin-bottom: 4px;
}

.status-icon {
  width: 2em;
  height: 2em;
}

// .note-wrapper.pending {
//   border-top: 4px solid #757575;
// }

// .note-wrapper.delivering {
//   border-top: 4px solid #ff9800;
// }

// .note-wrapper.delivered {
//   border-top: 4px solid #4caf50;
// }

// .note-wrapper.failed {
//   border-top: 4px solid #f44336;
// }
