<h2 mat-dialog-title>{{'userSupport.title' | translate}}</h2>
<mat-dialog-content fxLayout="column" fxLayoutGap="16px" class="wrapper">
  <div *ngFor="let g of groups">
    <div class="group mat-title">{{g.name}}</div>
    <div fxLayout="column" fxLayoutGap="16px">
      <div *ngFor="let item of g.notes">
        <mat-card class="note-wrapper" (click)="updateStatus(g, item)" [class.pending]="item.status === 'pending'"
          [class.delivering]="item.status === 'delivering'" [class.delivered]="item.status === 'delivered'"
          [class.failed]="item.status === 'failed'">
          <mat-card-content fxLayoutGap="16px" fxLayout="column">
            <div fxLayout="row">
              <div fxFlex fxLayout="column">
                <div class="mat-caption gray-color">{{item.date | date: 'HH:mm'}}</div>
                <div class="mat-subheading-2 mb-0">{{item.support.name}}</div>
              </div>
              <div fxLayout="column" fxLayoutAlign=" end">
                <div class="mat-caption gray-color" fxFlex>{{'userSupport.amount' | translate}}</div>
                <div class="mat-title mb-0">{{item.amount}}</div>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign=" center">
              <div fxFlex>
                <div class="mat-caption gray-color">{{'userSupport.status' | translate}}</div>
                <div class="mat-subheading-2 mb-0">{{item.status | supportStatus}}</div>
              </div>
              <mat-icon mat-list-icon svgIcon="account-question-outline" class="status-icon"
                *ngIf="item.status === 'pending'" class="gray-icon-color"></mat-icon>
              <mat-icon mat-list-icon svgIcon="truck-delivery-outline" class="status-icon"
                *ngIf="item.status === 'delivering'" style="color: #ff9800"></mat-icon>
              <mat-icon mat-list-icon svgIcon="account-check-outline" class="status-icon"
                *ngIf="item.status === 'delivered'" style="color: green">
              </mat-icon>
              <mat-icon mat-list-icon svgIcon="alert-circle-outline" class="status-icon"
                *ngIf="item.status === 'failed'" color="warn">
              </mat-icon>
            </div>
            <div style="position: relative;" *ngIf="item.transporterName">
              <mat-divider></mat-divider>
            </div>
            <div *ngIf="item.transporterName" fxLayout="column" fxLayoutGap="4px">
              <div fxLayout="row">
                <div class="mat-body" fxFlex>{{'userSupport.volunteer' | translate}}</div>
                <div class="mat-body">{{item.transporterName}}</div>
              </div>
              <ng-container *ngIf="!item.reason">
                <div fxLayout="row" *ngIf="item.deliveringDate">
                  <div class="mat-body" fxFlex>{{'userSupport.startDate' | translate}}</div>
                  <div class="mat-body">{{item.deliveringDate | date: 'HH:mm'}}&nbsp;</div>
                  <div class="mat-body">{{item.deliveringDate | date: 'dd-MM-YYYY'}}</div>
                </div>
                <div fxLayout="row" *ngIf="item.deliveredDate">
                  <div class="mat-body" fxFlex>{{'userSupport.completeDate' | translate}}</div>
                  <div class="mat-body">{{item.deliveredDate | date: 'HH:mm'}}&nbsp;</div>
                  <div class="mat-body">{{item.deliveredDate | date: 'dd-MM-YYYY'}}</div>
                </div>
              </ng-container>
              <div class="mat-body" *ngIf="item.reason">{{item.reason}}</div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</mat-dialog-content>
<!-- <div *ngIf="isEmpty()" class="gray-color mat-headline">{{'empty' | translate}}</div> -->
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close> {{'action.back' | translate}}</button>
  <button mat-button (click)="add()" *ngIf="isDoctor" color="primary">{{'action.add' | translate}}</button>
</mat-dialog-actions>