<div fxFlex fxLayout="column">
  <mat-accordion fxFlex>
    <mat-expansion-panel *ngFor="let item of data; let index = index" [expanded]="line === index"
      (closed)="removeLine()" (opened)="setLine(index)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="16px" *ngIf="index !== line">
            <mat-icon svgIcon="account-circle" color="primary"></mat-icon>
            <div>
              {{item.name}}
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="16px" *ngIf="index === line">
            <button mat-icon-button class="gray-icon-color" (click)="remove(); $event.stopPropagation()">
              <mat-icon svgIcon="content-copy"></mat-icon>
            </button>
            <div>{{item.code}}</div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-user-info [user]="item"></app-user-info>
      <mat-action-row fxLayout="row">
        <button mat-icon-button class="gray-icon-color" (click)="remove()">
          <mat-icon svgIcon="delete"></mat-icon>
        </button>
        <button mat-icon-button class="gray-icon-color" (click)="edit(item)">
          <mat-icon svgIcon="pencil"></mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="showSupportPicker(item); $event.stopPropagation()">
          <mat-icon svgIcon="hospital-box-outline"></mat-icon>
        </button>
        <button mat-icon-button style="color: #009688" (click)="edit(item)">
          <mat-icon svgIcon="history"></mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="remove()">
          <mat-icon svgIcon="text-box-check"></mat-icon>
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>