<div fxFlex fxLayout="column">
  <div fxLayout="row" class="header">
    <div class="mat-title title" fxFlex>{{'userManagement.title' | translate}}</div>
    <button mat-icon-button class="gray-icon-color" (click)="add()">
      <mat-icon svgIcon="account-plus-outline"></mat-icon>
    </button>
  </div>
  <div fxLayout="row" fxLayoutAlign=" center" class="paginator">
    <div fxFlex class="mat-caption gray-color ml-3">{{'userManagement.sum' | translate: {total: size || 0} }}</div>
    <mat-paginator [length]="size" [pageSize]="10" [hidePageSize]="true" (page)="changePage($event)">
    </mat-paginator>
  </div>
  <div fxFlex fxLayout="column" fxLayoutGap="16px" class="wrapper">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> {{'userManagement.name' | translate}} </th>
        <td mat-cell *matCellDef="let element" matRipple> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> {{'userManagement.role' | translate}} </th>
        <td mat-cell *matCellDef="let element">
          <div *ngFor="let item of element.roles">
            {{item.name}}
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="select(row)"></tr>
    </table>
  </div>
</div>