<div fxLayout="row">
  <mat-form-field appearance="outline" fxFlex color="accent">
    <mat-label>{{'doctorPicker.label' | translate}}</mat-label>
    <mat-select [formControl]="selectCtrl">
      <mat-select-trigger>{{selectCtrl.value?.info.name}}</mat-select-trigger>
      <mat-option *ngFor="let item of doctors" [value]="item">
        {{item.info.name }} <ng-container *ngIf="total > 0">{{item.count}}/{{total}}</ng-container>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<mat-dialog-actions align="end" fxLayoutGap="16px">
  <button mat-button mat-dialog-close [disabled]="loading">{{'action.back' | translate}}</button>
  <button mat-raised-button color="primary" (click)="save()" [disabled]="loading">{{'action.confirm' |
    translate}}</button>
</mat-dialog-actions>