<h2 mat-dialog-title>{{'userSupportDetail.title' | translate}}</h2>
<mat-list>
  <ng-container *ngFor="let item of detail">
    <div mat-subheader>{{item.support.name}}</div>
    <mat-list-item>
      <mat-icon mat-list-icon svgIcon="account-question-outline" *ngIf="item.status === 'pending'"
        class="gray-icon-color"></mat-icon>
      <mat-icon mat-list-icon svgIcon="truck-delivery-outline" *ngIf="item.status === 'delivering'"
        style="color: #ff9800"></mat-icon>
      <mat-icon mat-list-icon svgIcon="account-check-outline" *ngIf="item.status === 'delivered'" style="color: green">
      </mat-icon>
      <mat-icon mat-list-icon svgIcon="alert-outline" *ngIf="item.status === 'failed'" color="warn"></mat-icon>
      <div mat-line>{{item.transporterName | translate}}</div>
      <div mat-line class="gray-color"> {{item.transportedDate}} </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </ng-container>
</mat-list>
<mat-dialog-actions align="end" fxLayoutGap="16px">
  <button mat-button mat-dialog-close>{{'action.back' | translate}}</button>
</mat-dialog-actions>