:host {
  height: 100%;
  padding: 16px;
}

.wrapper {
  background-image: url('/assets/svg/illustrations/undraw_Profile_data_re_v81r.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
}
