<div fxFlex fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="space-between" class="wrapper">
  <div class="mat-caption gray-color">{{'profile.version' | translate: {version: version} }}</div>
  <div fxLayout="column" fxLayoutGap="16px">
    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="8px">
      <div fxLayout="column" fxLayoutAlign="center center">
        <div class="mat-display-1 mb-0">{{user?.info?.name}}</div>
        <div class="mat-body gray-color">
          <div *ngFor="let item of user?.roles">{{item}}</div>
        </div>
      </div>
      <button mat-icon-button (click)="logout()">
        <mat-icon svgIcon="power"></mat-icon>
      </button>
    </div>
    <mat-card fxLayout="row" fxLayoutAlign=" center" *ngIf="isDoctor">
      <div fxFlex fxLayout="row" fxLayoutGap="8px" fxLayoutAlign=" center">
        <mat-icon svgIcon="phone-in-talk" class="card-icon" color="primary"></mat-icon>
        <div class="mat-subheading-2 mb-0">{{'profile.workToday' | translate}}</div>
      </div>
      <mat-slide-toggle [checked]="user?.workToday" color="primary" (change)="setActive($event)">
      </mat-slide-toggle>
    </mat-card>
    <div>
      <div fxLayout="row wrap" fxLayoutAlign=" center" fxLayoutGap="16px grid" *ngIf="isUserManagement">
        <div fxFlex="50" (click)="goDoctorManagement()">
          <mat-toolbar class="user-box" color="primary" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="16px">
            <mat-icon svgIcon="clipboard-account-outline"></mat-icon>
            <div>{{'profile.doctorManagement' | translate}}</div>
          </mat-toolbar>
        </div>
        <div fxFlex="50" (click)="goAgentManagement()">
          <mat-toolbar class="user-box" color="primary" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="16px">
            <mat-icon svgIcon="face-agent"></mat-icon>
            <div>{{'profile.agentManagement' | translate}}</div>
          </mat-toolbar>
        </div>
        <div fxFlex="50" (click)="goAgentManagement()">
          <mat-toolbar class="user-box" color="primary" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="16px">
            <mat-icon svgIcon="truck-outline"></mat-icon>
            <div>{{'profile.transporterManagement' | translate}}</div>
          </mat-toolbar>
        </div>
      </div>
    </div>
  </div>
</div>