<div fxFlex fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="center" class="wrapper">
  <div fxLayout="column" fxLayoutGap="16px">
    <div>
      <div fxLayout="row" fxLayoutAlign=" center">
        <div class="mat-title mb-0">{{user?.info?.name}}</div>
        <button mat-icon-button color="warn" (click)="logout()">
          <mat-icon svgIcon="logout-variant"></mat-icon>
        </button>
      </div>
      <div class="mat-body gray-color">
        <div *ngFor="let item of user?.roles">{{item}}</div>
      </div>
    </div>
    <div>
      <div fxLayout="row wrap" fxLayoutAlign=" center" fxLayoutGap="16px grid" *ngIf="isUserManagement">
        <div fxFlex="50" (click)="goDoctorManagement()">
          <mat-toolbar class="user-box" color="primary" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="16px">
            <mat-icon svgIcon="clipboard-account-outline"></mat-icon>
            <div>{{'profile.doctorManagement' | translate}}</div>
          </mat-toolbar>
        </div>
        <div fxFlex="50" (click)="goAgentManagement()">
          <mat-toolbar class="user-box" color="primary" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="16px">
            <mat-icon svgIcon="face-agent"></mat-icon>
            <div>{{'profile.agentManagement' | translate}}</div>
          </mat-toolbar>
        </div>
        <div fxFlex="50" (click)="goAgentManagement()">
          <mat-toolbar class="user-box" color="primary" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="16px">
            <mat-icon svgIcon="truck-outline"></mat-icon>
            <div>{{'profile.transporterManagement' | translate}}</div>
          </mat-toolbar>
        </div>
      </div>
    </div>
    <div class="mat-caption gray-color">{{'profile.version' | translate: {version: version} }}</div>
  </div>
</div>