<h2 mat-dialog-title>{{'supportPicker.title' | translate}}</h2>
<div [formGroup]="form">
  <div formArrayName="list" fxLayout="column" fxLayoutGap="16px">
    <ng-container *ngFor="let item of list.controls; let i = index">
      <ng-container [formGroupName]="i">
        <mat-checkbox formControlName="value">{{item.get('name')?.value}}</mat-checkbox>
      </ng-container>
    </ng-container>
  </div>
</div>
<mat-dialog-actions align="end" fxLayoutGap="16px">
  <button mat-button mat-dialog-close [disabled]="loading">{{'action.back' | translate}}</button>
  <button mat-raised-button color="primary" (click)="save()" [disabled]="loading">{{'action.save' | translate}}</button>
</mat-dialog-actions>