<div fxLayout="column" fxLayoutGap="16px">
  <div *ngFor="let g of groups">
    <div class="group mat-title">{{g.name}}</div>
    <div fxLayout="column">
      <div *ngFor="let item of g.notes" fxLayout="row" class="line-wrapper" fxLayoutGap="16px">
        <div fxLayout="column" fxLayoutAlign=" center" class="icon-wrapper">
          <mat-icon svgIcon="comment-text-outline" class="gray-icon-color" *ngIf="!item.type" class="gray-icon-color">
          </mat-icon>
          <mat-icon svgIcon="clipboard-plus-outline" *ngIf="item.type === 'support_pending'" class="gray-icon-color">
          </mat-icon>
          <mat-icon svgIcon="truck-delivery-outline" *ngIf="item.type === 'support_delivering'"
            class="delivering-color"></mat-icon>
          <mat-icon svgIcon="truck-check-outline" *ngIf="item.type === 'support_delivered'" class="delivered-color">
          </mat-icon>
          <mat-icon svgIcon="alert-circle-outline" *ngIf="item.type === 'support_failed'" color="warn">
          </mat-icon>
          <mat-divider fxFlex [vertical]="true"></mat-divider>
        </div>
        <div fxFlex class="line-content">
          <div class="mat-body author gray-color">
            <ng-container *ngTemplateOutlet="title; context: {data: item}"></ng-container>
          </div>
          <ng-container *ngTemplateOutlet="content; context: {data: item}"></ng-container>
          <!-- <mat-card *ngIf="!item.type || (item.type !== 'support_delivering' && item.type !== 'support_pending')">
            <div *ngIf="item.type === 'support_failed'">
              <div>{{'supportStatus.failed' | translate}}</div>
              <div>{{'userNote.reason' | translate}}</div>
              <ng-container *ngTemplateOutlet="message; context: {data: item.contents}"></ng-container>
            </div>
            <div *ngIf="item.type !== 'support_failed'">
              <div *ngIf="item.type === 'support_delivering'" fxLayout="row">
                <div [innerHTML]="item.content | translate" fxFlex></div>
                <ng-container *ngTemplateOutlet="pending; context: {data: item.contents}"></ng-container>
                <mat-chip-list *ngIf="item.patientSupport.emergency">
                  <mat-chip color="warn" selected>{{'userNote.emergency' | translate}}</mat-chip>
                </mat-chip-list>
              </div>
              <ng-container *ngIf="item.type !== 'support_pending'">
                <div *ngIf="item.type">{{item.content | translate}}</div>
                <ng-container *ngIf="!item.type">
                  <ng-container *ngTemplateOutlet="message; context: {data: item.contents}"></ng-container>
                </ng-container>
              </ng-container>
            </div>
            <div *ngIf="isCoordinator && item.type === 'support_pending' && item.patientSupport.status === 'pending'"
              class="mt-3" fxLayout="column" fxLayoutGap="16px">
              <button mat-stroked-button [color]="item.patientSupport.emergency ? 'warn' : 'primary'"
                (click)="showTransporterPicker(item)" *ngIf="code">
                <mat-icon svgIcon="truck-outline"></mat-icon> {{'userNote.selectTransporter' | translate}}
              </button>
              <button mat-raised-button (click)="showTransporterCreate(item)" *ngIf="isImporter && !code">
                <mat-icon svgIcon="truck-check-outline"></mat-icon> {{'userNote.createData' | translate}}
              </button>
            </div>
            <div
              *ngIf="( isImporter || (isTransporter && auth.user?.id === item.author.id)) && item.type === 'support_delivering' && item.patientSupport.status === 'delivering'"
              class="mt-3">
              <button mat-raised-button (click)="updateStatus(item)">
                <mat-icon svgIcon="list-status"></mat-icon> {{'action.confirm' | translate}}
              </button>
            </div>
          </mat-card> -->
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #message let-data="data">
  <div *ngFor="let item of data">{{item}}</div>
</ng-template>
<ng-template #supportPending let-data="data">
  <mat-chip-list class="mat-chip-list-stacked support-pending-wrapper">
    <mat-chip *ngFor="let item of data" color="accent" selected>{{item.support.name}} x{{item.amount}}</mat-chip>
  </mat-chip-list>
</ng-template>
<ng-template #title let-data="data">
  <ng-container *ngIf="data.type === 'support_pending'">
    {{'noteTitle.supportPending' | translate: {name: data.author.name, time: data.time} }}
  </ng-container>
  <ng-container *ngIf="data.type === 'support_delivering'">
    {{'noteTitle.supportDelivering' | translate: {name: data.author.name, time: data.time} }}
  </ng-container>
  <ng-container *ngIf="data.type === 'support_delivered'">
    {{'noteTitle.supportDelivered' | translate: {name: data.author.name, time: data.time} }}
  </ng-container>
  <ng-container *ngIf="!data.type">
    {{data.time}} - {{data.author.name}}
  </ng-container>
</ng-template>
<ng-template #content let-data="data">
  <ng-container *ngIf="!data.type">
    <mat-card>
      <ng-container *ngTemplateOutlet="message; context: {data: data.contents}"></ng-container>
    </mat-card>
  </ng-container>
  <ng-container *ngIf="data.type ==='support_pending'">
    <ng-container *ngTemplateOutlet="supportPending; context: {data: data.contents}"></ng-container>
  </ng-container>

  <div
    *ngIf="( isImporter || (isTransporter && auth.user?.id === data.author.id)) && data.type === 'support_delivering' && data.patientSupport.status === 'delivering'">
    <button mat-raised-button color="primary" (click)="updateStatus(data)">
      <mat-icon svgIcon="list-status"></mat-icon> {{'action.confirm' | translate}}
    </button>
  </div>
</ng-template>