<div fxLayout="column" fxLayoutGap="16px">
  <div *ngFor="let g of groups">
    <div class="group mat-title">{{g.name}}</div>
    <div fxLayout="column">
      <div *ngFor="let item of g.notes" fxLayout="row" class="line-wrapper" fxLayoutGap="16px">
        <div fxLayout="column" fxLayoutAlign=" center" class="icon-wrapper">
          <mat-icon svgIcon="comment-text-outline" class="gray-icon-color" *ngIf="!item.type" class="gray-icon-color">
          </mat-icon>
          <mat-icon svgIcon="pill" *ngIf="item.type === 'support_pending'" color="primary">
          </mat-icon>
          <mat-icon svgIcon="truck-fast-outline" *ngIf="item.type === 'support_delivering'" class="delivering-color">
          </mat-icon>
          <mat-icon svgIcon="marker-check" *ngIf="item.type === 'support_delivered'" class="delivered-color">
          </mat-icon>
          <mat-icon svgIcon="alert-circle-outline" *ngIf="item.type === 'support_failed'" color="warn">
          </mat-icon>
          <mat-icon svgIcon="update" *ngIf="item.type === 'patient_status_change'" class="gray-color">
          </mat-icon>
          <mat-icon svgIcon="update" *ngIf="item.type === 'doctor_change'" class="gray-color">
          </mat-icon>
          <mat-divider fxFlex [vertical]="true"></mat-divider>
        </div>
        <div fxFlex class="line-content">
          <div class="mat-body author gray-color">
            <ng-container *ngTemplateOutlet="title; context: {data: item}"></ng-container>
          </div>
          <ng-container *ngTemplateOutlet="content; context: {data: item}"></ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #message let-data="data">
  <div *ngFor="let item of data">{{item}}</div>
</ng-template>
<ng-template #supportPending let-data="data">
  <mat-chip-list class="mat-chip-list-stacked support-pending-wrapper">
    <mat-chip *ngFor="let item of data" color="accent" selected>{{item.support.name}} x{{item.amount}}</mat-chip>
  </mat-chip-list>
</ng-template>
<ng-template #title let-data="data">
  <ng-container *ngIf="data.type === 'support_pending'">
    {{'noteTitle.supportPending' | translate: {name: data.author.name, time: data.time} }}
  </ng-container>
  <ng-container *ngIf="data.type === 'support_delivering'">
    {{'noteTitle.supportDelivering' | translate: {name: data.author.name, time: data.time} }}
  </ng-container>
  <ng-container *ngIf="data.type === 'support_delivered'">
    {{'noteTitle.supportDelivered' | translate: {name: data.author.name, time: data.time} }}
  </ng-container>
  <ng-container *ngIf="data.type === 'support_failed'">
    {{'noteTitle.supportFailed' | translate: {name: data.author.name, time: data.time} }}
  </ng-container>
  <ng-container *ngIf="data.type === 'patient_status_change'">
    {{'noteTitle.patientStatusChange' | translate: {name: data.author.name, time: data.time} }}
  </ng-container>
  <ng-container *ngIf="data.type === 'doctor_change'">
    {{'noteTitle.doctorChange' | translate: {name: data.author.name, time: data.time} }}
  </ng-container>
  <ng-container *ngIf="!data.type">
    <ng-container *ngIf="data.author.isDoctor">
      {{'noteTitle.doctorComment' | translate: {name: data.author.name, time: data.time} }}
    </ng-container>
    <ng-container *ngIf="data.author.isAgent">
      {{'noteTitle.agentComment' | translate: {name: data.author.name, time: data.time} }}
    </ng-container>
    <ng-container *ngIf="data.author.isTransporter">
      {{'noteTitle.transporterComment' | translate: {name: data.author.name, time: data.time} }}
    </ng-container>
  </ng-container>
</ng-template>
<ng-template #content let-data="data">
  <ng-container *ngIf="!data.type">
    <mat-card>
      <ng-container *ngTemplateOutlet="message; context: {data: data.contents}"></ng-container>
    </mat-card>
  </ng-container>
  <ng-container *ngIf="data.type ==='support_pending'">
    <div fxLayout="column" fxLayoutGap="16px">
      <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="8px" *ngIf="data.patientSupport.emergency">
        <mat-icon svgIcon="car-emergency" color="warn">
        </mat-icon>
        <div class="error-color mat-title mb-0">{{'userNote.emergency' | translate}}</div>
      </div>
      <ng-container *ngTemplateOutlet="supportPending; context: {data: data.contents}"></ng-container>
      <div *ngIf="isAgent && data.type === 'support_pending' && data.patientSupport.status === 'pending'">
        <button mat-raised-button [color]="data.patientSupport.emergency ? 'warn' : 'accent'"
          (click)="showTransporterPicker(data)" *ngIf="code">
          <mat-icon svgIcon="truck-fast-outline"></mat-icon> {{'userNote.selectTransporter' | translate}}
        </button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="data.type ==='patient_status_change'">
    <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="8px">
      <mat-chip-list>
        <mat-chip disabled>{{data.contents[0] | patientStatus}}</mat-chip>
      </mat-chip-list>
      <mat-icon svgIcon="arrow-right-thick" class="gray-icon-color"></mat-icon>
      <mat-chip-list>
        <mat-chip>{{data.contents[1] | patientStatus}}</mat-chip>
      </mat-chip-list>
    </div>
  </ng-container>
  <ng-container *ngIf="data.type ==='doctor_change'">
    <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="8px">
      <mat-chip-list>
        <mat-chip disabled>{{data.contents[0]}}</mat-chip>
      </mat-chip-list>
      <mat-icon svgIcon="arrow-right-thick" class="gray-icon-color"></mat-icon>
      <mat-chip-list>
        <mat-chip>{{data.contents[1]}}</mat-chip>
      </mat-chip-list>
    </div>
  </ng-container>
  <ng-container *ngIf="data.type ==='support_failed'">
    <mat-card *ngIf="data.contents">
      <ng-container *ngTemplateOutlet="message; context: {data: data.contents}"></ng-container>
    </mat-card>
  </ng-container>
  <div
    *ngIf="( isCoordinator || (isTransporter && auth.user?.id === data.author.id)) && data.type === 'support_delivering' && data.patientSupport.status === 'delivering'">
    <button mat-raised-button color="accent" (click)="updateStatus(data)">
      <mat-icon svgIcon="list-status"></mat-icon> {{'action.confirm' | translate}}
    </button>
  </div>
</ng-template>