<div fxLayout="column" fxLayoutGap="16px">
  <div *ngFor="let g of groups">
    <div class="group mat-title">{{g.name}}</div>
    <div fxLayout="column" fxLayoutGap="32px">
      <div *ngFor="let item of g.notes">
        <mat-card>
          <mat-card-content>
            <div class="mat-body" [innerHTML]="item.content"> </div>
          </mat-card-content>
          <div fxLayout="row" fxLayoutAlign="space-between end">
            <div class="mat-caption gray-color">
              {{item.time}}
            </div>
            <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="8px">
              <mat-icon svgIcon="account-edit-outline" class="gray-icon-color" *ngIf="item.role === 3"></mat-icon>
              <mat-icon svgIcon="card-account-details-outline" class="gray-icon-color" *ngIf="item.role === 2">
              </mat-icon>
              <mat-icon svgIcon="car-lifted-pickup" class="gray-icon-color" *ngIf="item.role === 5"></mat-icon>
              <div class="mat-body">{{item.author}}</div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>