<mat-sidenav-container fxFill class="main-bg custom-theme">
  <!-- <mat-sidenav #leftSidenav mode="over" position="start" [autoFocus]="false">
  </mat-sidenav>
  <mat-sidenav #rightSidenav mode="over" position="end" [autoFocus]="false">
    <div fxFill fxLayout="column" class="right-sidenav">
      <ng-template appSidenav></ng-template>
    </div>
  </mat-sidenav> -->
  <mat-sidenav-content>
    <div fxFill fxLayout="column">
      <div fxFlex fxLayout="column" class="router-wrapper">
        <router-outlet></router-outlet>
      </div>
      <app-menu *ngIf="!hideMenu"></app-menu>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>