<div fxLayout="row">
  <mat-form-field appearance="outline" fxFlex>
    <mat-label>{{'userForm.fullname' | translate}}</mat-label>
    <input matInput [formControl]="nameCtrl" required />
    <mat-error *ngIf="nameCtrl.hasError('required')">{{'userForm.fullnameRequired' | translate}}
    </mat-error>
  </mat-form-field>
</div>
<mat-dialog-actions align="end" fxLayoutGap="16px">
  <button mat-button mat-dialog-close [disabled]="loading">{{'action.back' | translate}}</button>
  <button mat-raised-button color="primary" (click)="save()" [disabled]="loading">{{'action.save' |
    translate}}</button>
</mat-dialog-actions>