<div fxFlex fxLayout="column" class="wrapper" [class.init]="init" fxLayoutGap="16px">
  <div class="mat-title mb-0">{{'search.title' | translate}}</div>
  <div fxLayout="row" fxLayoutAlign=" center" class="header" fxLayoutGap="16px">
    <button mat-mini-fab color="" (click)="search()"
      [disabled]="!keyword.value || keyword.value.length === 0 || loading">
      <mat-icon matPrefix svgIcon="magnify"></mat-icon>
    </button>
    <input fxFlex [formControl]="keyword" [placeholder]="'search.keyword' | translate" autocomplete="off" />
  </div>
  <div fxFlex *ngIf="user" class="body" fxLayout="column">
    <app-user-card [data]="user" [show]="true"></app-user-card>
  </div>
  <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px" *ngIf="!loading && isNotFound">
    <img src="assets/svg/illustrations/undraw_No_data_re_kwbl.svg" width="200" />
    <div class="mat-title">{{'error.search' | translate}}</div>
  </div>
  <div fxFlex *ngIf="loading" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
</div>