:host {
  height: 100%;
}

.header,
.body {
  background-color: #fff;
  padding: 16px;
}

.header > button {
  margin-top: 12px;
}

.action {
  padding: 16px;
}

.body {
  overflow: auto;
}

.wrapper {
  background-image: url('/assets/svg/illustrations/undraw_File_searching_re_3evy.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
