:host {
  height: 100%;
}

.header {
  padding: 12px;
  background: #fff;
  border-radius: 32px;
}

.action {
  padding: 16px;
}

.body {
  overflow: auto;
}

.wrapper {
  padding: 16px;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper.not-found {
  background-image: url('/assets/svg/illustrations/undraw_not_found_-60-pq.svg');
}

.wrapper.init {
  background-image: url('/assets/svg/illustrations/undraw_File_searching_re_3evy.svg');
}

input {
  border: none;
  outline: none;
}
