<div fxFlex fxLayout="column" class="wrapper">
  <div fxLayout="row" fxLayoutGap="16px" class="header">
    <button mat-mini-fab color="primary" (click)="search()" [disabled]="keyword.invalid || loading">
      <mat-icon matPrefix svgIcon="magnify"></mat-icon>
    </button>
    <mat-form-field appearance="fill" fxFlex>
      <input matInput [formControl]="keyword" [placeholder]="'search.keyword' | translate" autocomplete="off" />
      <button mat-icon-button matSuffix (click)="keyword.reset()" *ngIf="keyword.value?.length > 0">
        <mat-icon matPrefix svgIcon="close"></mat-icon>
      </button>
    </mat-form-field>
  </div>
  <mat-divider></mat-divider>
  <div fxFlex *ngIf="user" class="body" fxLayout="column">
    <app-user-card [data]="user"></app-user-card>
  </div>
</div>