:host {
  height: 100%;
}

:host > div > * {
  overflow: auto;
}

.title {
  margin: 0px;
}

.wrapper {
  padding: 16px;
  background-color: #fafafa;
}

.avatar {
  width: 60px;
  border-radius: 50%;
  background: #2196f3;
}
