:host {
  height: 100%;
}

.body-wrapper {
  padding: 16px;
  overflow: auto;
}

.paginator {
  background: #fff;
  margin: 16px;
  border-radius: 16px;
  overflow: hidden;
  padding-left: 16px;
}

.wrapper.empty {
  background-image: url('/assets/svg/illustrations/undraw_No_data_re_kwbl.svg');
  background-size: '200px';
  background-repeat: no-repeat;
  background-position: center;
}