:host {
  height: 100%;
}

.wrapper {
  padding: 16px;
  overflow: auto;
}

.title {
  text-align: center;
  margin: 0px;
}

.paginator {
  background: #fff;
}

.container.empty {
  background-image: url('/assets/svg/illustrations/undraw_No_data_re_kwbl.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
