<div fxFlex fxLayout="column">
  <mat-accordion fxFlex>
    <mat-expansion-panel *ngFor="let item of data; let index = index" [expanded]="line === index"
      (closed)="removeLine()" (opened)="setLine(index)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="16px" *ngIf="index !== line">
            <mat-icon svgIcon="account-circle-outline" color="primary"></mat-icon>
            <div>
              {{item.name}}
            </div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-user-info [user]="item" [init]="line === index"></app-user-info>
    </mat-expansion-panel>
  </mat-accordion>
  <div fxLayout="row" fxLayoutAlign=" center">
    <div fxFlex class="mat-caption gray-color ml-3">{{'userList.sum' | translate: {total: size || 0} }}</div>
    <mat-paginator [length]="size" [pageSize]="10" [hidePageSize]="true" (page)="changePage($event)">
    </mat-paginator>
  </div>
</div>