:host > div {
  background-color: #f5f5f5;
}

.wrapper {
  background: url('/assets/jpg/rm218batch4-ning-34.jpg');
  background-size: cover;
}

.form-wrapper button {
  border-radius: 32px;
  height: 3em;
}

.form-wrapper img {
  border-radius: 50%;
}
