<div fxFill fxLayout="row" [formGroup]="form" fxLayoutAlign="center center" class="wrapper">
  <div class="form-wrapper" fxFlex="90">
    <div fxLayout="column" fxLayoutGap="32px">
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="32px">
        <img src="/assets/png/logo.png" width="140" />
        <div class="mat-display-1">Bác sĩ của F0</div>
      </div>
      <div fxLayout="column" fxLayoutGap="16px">
        <mat-form-field appearance="outline">
          <mat-label>{{'login.user' | translate}}</mat-label>
          <mat-icon matPrefix svgIcon="account"></mat-icon>
          <input matInput formControlName="user" #userInput required (keyup.enter)="login()" autocomplete="username"
            name="username" />
          <mat-error *ngIf="form.get('user')?.hasError('required')">{{'login.userRequired' | translate}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" u>
          <mat-label>{{'login.pass' | translate}}</mat-label>
          <mat-icon matPrefix svgIcon="lock"></mat-icon>
          <input matInput formControlName="pass" type="password" required (keyup.enter)="login()"
            autocomplete="current-password" name="password" />
          <mat-error *ngIf="form.get('pass')?.hasError('required')">{{'login.passwordRequired' | translate}}
          </mat-error>
        </mat-form-field>
        <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center">
          <button mat-raised-button fxFlex="50" color="primary" [disabled]="form.invalid || loading"
            (click)="login()">{{'login.signIn' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>